<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Rewrite requested file/folder to index.php" stopProcessing="true">
          <match url="^v1/(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="public/index.php/{R:0}" appendQueryString="true" />
        </rule>
        <rule name="Rewrite to angular cli" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="front/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>